/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

body{
	background: black;
}

/******************************************
/* LAYOUT
/*******************************************/
.outerContainer{
	display: grid;
	place-items: center;
	min-height: 100vh;
}
.innerContainer{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(3, 200px);
	grid-template-rows: repeat(5, 200px);
}
.title{
	background-color: #000000;
	color: #fff;
	border-radius: 2px;
	grid-row: 1;
	grid-column: span 3;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box1, .box2, .box3{
	background-color: #F56600;
	color: #fff;
	border-radius: 2px;
	grid-row: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box4, .box5, .box6{
	background-color: #F56600;
	color: #fff;
	border-radius: 2px;
	grid-row: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box7, .box8, .box9{
  	background-color: #F56600;
	color: #fff;
	border-radius: 2px;
	grid-row: 4;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer{
	background-color: #000000;
	color: #fff;
	border-radius: 2px;
	grid-row: 5;
	grid-column: span 3;
	display: flex;
	align-items: center;
	justify-content: center;
}

/******************************************
/* FONT STYLES
/*******************************************/
.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9{
	font-family: "Orbitron";
	font-size: 750%;
}
.title{
	font-family: "Orbitron";
	font-size: 5em;
	color: #522D80;
}
.footer{
	font-family: "Orbitron";
	font-size: 3em;
	color: #522D80;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
