/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

body{
	background: black;
}

/******************************************
/* LAYOUT
/*******************************************/
.outerContainer{
	display: grid;
	place-items: center;
	min-height: 100vh;
}
.innerContainer{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(3, 200px);
	grid-template-rows: repeat(5, 200px);
}
.title{
	background-color: #000000;
	color: #fff;
	border-radius: 2px;
	grid-row: 1;
	grid-column: span 3;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box0, .box1, .box2{
	background-color: #F56600;
	color: #fff;
	border-radius: 2px;
	grid-row: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box3, .box4, .box5{
	background-color: #F56600;
	color: #fff;
	border-radius: 2px;
	grid-row: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box6, .box7, .box8{
  	background-color: #F56600;
	color: #fff;
	border-radius: 2px;
	grid-row: 4;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer{
	background-color: #000000;
	color: #fff;
	border-radius: 2px;
	grid-row: 5;
	grid-column: span 3;
	display: flex;
	align-items: center;
	justify-content: center;
}

/******************************************
/* FONT STYLES
/*******************************************/
.box0, .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8{
	font-family: "Orbitron";
	font-size: 750%;
}
.title{
	font-family: "Orbitron";
	font-size: 5em;
	color: #522D80;
}
.footer{
	font-family: "Orbitron";
	font-size: 3em;
	color: #522D80;
}
h1{
	font-family: "Orbitron";
	font-size: 3em;
	color: #2e0a58;
}
.play, .quit{
	font-family: "Orbitron";
	font-size: 1em;
	color: #2e0a58;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.x::after {
    content: 'X';
}

.o::after {
    content: 'O';
}
.selected {
    cursor: not-allowed;
}
.box:not(.selected):hover {
    background: #F7A062;
}
.hidden{
	display: none;
}
.restart{
	width: 60%;
    height: 40%;
	top: 31%;
    left: 20%;
	position: relative;
    background: #a46beb;
    color: black;
	position: fixed;
    z-index: 10;
	opacity: 0.95;
}
h1{
	opacity: 1;
	text-align: center;
	padding-top: 4%;
	margin-bottom: 12%;
}
.play{
	float: left;
	opacity: 1;
	text-align: center;
	margin-left: 8%;
	padding: 2% 0;
	border: 2px solid #2e0a58;;
	width: 40%;
}
.quit{
	float: left;
	opacity: 1;
	text-align: center;
	margin-left: 4%;
	padding: 2% 0;
	border: 2px solid #2e0a58;;
	width: 40%;
}